.board-cell {
    /*border: 1px solid black;*/
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.container {

    width: 1102px;
    border: 1px solid black;
    background-color: #78C2AD;
}

body {
    margin-left: 50px;
}

.snake {
    background-color: #856b36;
    border: 1px solid black;
    border-radius: 10%;
}

.apple {
    background-image: url("apple.png");
    background-position: center;
    background-size: cover;

}

.score {
    float: left;
    display: block;
    width: 100px;
    background-color: #78C2AD;
    color: red;
    border: 1px solid black;
    text-align: center;
    font-size: xx-large;
}

.boost {
    background-image: url("mouse.png");
    background-position: center;
    background-size: cover;
}