<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Snake</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
</head>
<body>
    <div id="score" class="score">0</div>
    <div class="container">
        {% for row in range(19) %}
        <div class="row">

            {% for col in range(22) %}
            <div>
                <div class="board-cell"
                    data-coordinate-x="{{ col }}"
                    data-coordinate-y="{{ row }}">
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>